TODO
cmd/par2cron/embed/*
!cmd/par2cron/embed/README
dist/
docs/completions
docs/man/*
!docs/man/*.adoc
/config.yaml
/coverage.tmp
/coverage.txt
/output*
/par2cron
/slack-desc
/vendor
/update-devel.sh
