name: golang-fuzz-nightly
on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  golang:
    name: test-fuzz-30min
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.5
          cache: false

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Clean the environment
        run: make clean

      - name: Run Go fuzz tests (30m)
        run: make test-fuzz-long

      - name: Archive the testdata folder
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: par2-testdata
          path: internal/par2/testdata/
          retention-days: 3
