name: golang-build-config
on:
  push:
    branches:
      - master
      - main
      - devel
  pull_request:
permissions:
  contents: read
jobs:
  golang:
    name: build-config
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.5
          cache: false

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install par2cmdline
        run: sudo apt-get update && sudo apt-get install -y par2

      - name: Clean the environment
        run: make clean

      - name: Vendor the application for production
        run: make vendor

      - name: Build the application for production
        run: make par2cron

      - name: Validate example configuration
        run: ./par2cron check-config par2cron.yaml
